body {
    background: #eee;
}

#main-container {
    max-width: 100vw;
    max-height: 100vh;
}

.input-group-addon {
    border: none;
    box-shadow: none;
}

.sidebar {
    border-right: 1px solid #CCC;    
    width: 290px;
    max-width: 290px;
}

#side_nav {
    background: #fff;
}

.cc-font {
    transition: all 0.3s;
}

.cc-font:hover {
    color: rgb(138, 134, 134);
}

.content {
    display: flex;
    justify-content: center;
    background: #fff;
    min-width: 290px;
    height: 100vh;
    max-width: 290px;
    border-right: 1px solid #CCC;
}

.content a {
    text-decoration: none;
    color: #000;
}

#edit-info {
    display: flex;
    max-width: 380px;
    justify-content: space-between;
}

#edit-info a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;
}

.sidebar li a {
    color: #000;
}

#searchbar {
    margin-top: 90px;
}

#searchbar input {
    background-color: #eee;
}

#add-icon {
    color: green;
    transition: all 0.3s;
}

#add-icon:hover {
    color: rgb(63, 175, 63);
}

.show {
    background-color: #fff;
    min-width: 550px;
    height: 100vh;
    max-width: 550px;
    border-right: 1px solid #CCC;
}

.form-group {
    margin-bottom: 30px;
}

#contact-create-container {
    margin-top: 98px;
    min-width: 300px;
    max-height: 100vh;
    max-width: 300px;
}

.contact-card {
    padding: 10px;
    border-radius: 10px;
    background-color: #eee;
    transition: all 0.3s;
}

.contact-card span {
    margin-left: 6px;
}

.contact-card:hover {
    text-decoration: none;
    background-color: rgb(197, 197, 197);
}

#info-container {
    margin-top: 90px;
    margin-left: 75px;
}

#address-titles {
    max-width: fit-content;
    font-weight: 500;
    margin-left: 7px;
}

#address-list {
    list-style: none;
    text-decoration: none;
}

#editBtn {
    border: none;
    background-color: transparent;
    margin-top: 8px;
    transition: all 0.3s;
}

.editBtn {
    text-decoration: none;
    color: rgb(0, 125, 228);
    transition: all 0.3s;
}

.editBtn:hover {
    color: rgb(86, 173, 255);
}

#destroyBtn {
    border: none;
    background-color: transparent;
    color: red;
    margin-top: 8px;
    transition: all 0.3s;
}

#destroyBtn:hover {
    color: rgb(255, 78, 78);
}

#long-name {
    max-width: 248px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}